# ===== Java =====
*.class

# ===== Logs =====
*.log
*.pid

# ===== BlueJ =====
*.ctxt

# ===== J2ME =====
.mtj.tmp/

# ===== Packages =====
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# ===== JVM crash logs =====
hs_err_pid*
replay_pid*

# ===== IntelliJ IDEA =====
.idea/
*.iml
*.iws
*.ipr
out/

# ===== Maven =====
target/

# ===== Spring Boot =====
logs/

# ===== PostgreSQL =====
*.dump
*.sql
*.backup

# ===== Mac OS =====
.DS_Store
.AppleDouble
.LSOverride

# ===== Temporary files =====
*.tmp
*.temp
*.swp
*.bak